<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="/styles/admin.css" />
    <link rel="stylesheet" href="/styles/memberinfo.css" />
  </head>
  <body>
    {% include 'top.html' %}
    <div class="container">
      <header>
        <h1>관리자 페이지</h1>
        <hr />
      </header>
      <nav>
        <ul>
          <li><a href="/page/admin_post">게시글관리</a></li>
          <li><a href="/page/admin_member">회원관리</a></li>
          <li><a href="/page/admin_notice">공지사항 </a></li>
        </ul>
        <hr />
      </nav>
      <section>
        <div id="notice">
          <h2 class="notice_h2">공지사항</h2>
          <hr />

          <aside>
            {% for twit in twits %}
            <h3>게시글 번호: {{twit.id }} 관리자: {{ twit.User.nickname }} 공지사항: {{twit.title}} 작성일:{{twit.createdAt}}</h3>
            <button type="button" class="noticeinfo-btn" data-id="{{ twit.id }}">자세히 보기</button>

            <div class="popup" id="noticeinfo-{{twit.id}}">
              <div class="popup-content">
                <span class="close">&times;</span>
                <h2>제목:{{twit.title}}</h2>
                <p><strong>관리자:</strong> {{twit.User.nickname}}</p>
                <hr />
                <h3><strong>내용:</strong> {{twit.Content.content}}</h3>
                <hr />
                <p><strong>조회수:</strong> {{twit.view}}</p>
                <p><strong>작성일:</strong> {{twit.createdAt}}</p>
                <button type="button" class="admin_notice_del" data-id="{{twit.id}}">삭제</button>
              </div>
            </div>

            {% endfor %}
            <form action="/page/editor" id="write-form" method="get">
              <input type="hidden" id="board-name" name="board-name" value="{{ boardName }}" />
              <button type="submit" class="notice_editor">공지사항 쓰기</button>
            </form>
            <!-- <a href="/page/editor">
                    <button type="button" class="notice_editor">공지사항 쓰기</button>
                </a> -->
          </aside>
        </div>
      </section>

      <footer>
        <p>&copy; petFriends 게시판. All rights reserved.</p>
      </footer>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/javascript/admin_notice.js" defer></script>
</html>
