<!DOCTYPE html>
<html lang="ko">
<head>
  {% include 'head.html' %}
  <link rel="stylesheet" href="/styles/postslist.css">
  <script src="/javascript/community.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    {% include 'top.html' %}
    <h1 style="text-align: center;">커뮤니티 페이지</h1>
    <ul class="sort-btn-list">
        <li><div class="sort-btn newest sort-btn-click">최신 순</div></li>
        <li><div class="sort-btn old">오래된 순</div></li>
        <li><div class="sort-btn highView">높은 조회수</div></li>
        <li><div class="sort-btn rowView">낮은 조회수</div></li>
    </ul>
<table>
    <thead>
    <tr >
        <th>번호</th>
        <th>조회수</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody class="commu-list">
    <!-- {% for twit in twits %}
    <tr>
        <td>게시글번호 : {{twit.id}}</td>
        <td>조회수 : {{twit.view}}</td>
        <td><a href="/page/communityView/{{twit.id}}">게시물 : {{twit.title}}</a></td>
        <td> 작성자닉네임 : {{twit.User.nickname}} </td>
        <td>작성일 : {{twit.createdAt}}</td>
    </tr>
    {% endfor %} -->
    </tbody>
</table><br>
<form action="/page/editor" id="write-form" method="get">
    <input type="hidden" id="board-name" name="board-name" value="{{ boardName }}">
    <button type="submit" class="btn btn-primary">글쓰기 버튼</button>
</form>

<div class="search-box">
    <select id="searchType">
        <option value="titleDetail">제목+내용</option>
        <option value="title">제목</option>
        <option value="nickname">작성자</option>
    </select>
    <input type="text" id="searchQuery" placeholder="검색어를 입력하세요">
    <button id="searchBtn">검색</button>
</div>


<div class='text-center'>
        {% if pagingData.totalPages != 0  %}
        <div class="" style="text-align:center;">
            <ul class="pagination justify-content-center">
                <li {% if pagingData.currentPage == 1 %}
                    class="disabled page-item"
                    {% else %}
                    class="waves-effect page-item"
                    {% endif %}
                >
                    <a {% if pagingData.currentPage > 1 %}
                        class="page-link"
                        href="?currentPage={{pagingData.currentPage-1}}">
                        {% endif %}
                        prev</a>
                </li>
                {% for index in range(1 ,pagingData.totalPages+1)  %}
                <li class="active page-item">
                    {%  if(pagingData["currentPage"]) %}
                    <a class="page-link" href="?currentPage={{index}}">{{index}}</a>
                    {% endif %}
                </li>
                {% endfor %}
                <li {% if(pagingData.currentPage == pagingData.totalPages+1) %}
                    class="disabled page-item"
                    {% else %}
                    class="waves-effect page-item"
                    {% endif %}>
                    <a {% if pagingData.currentPage < pagingData.totalPages %}
                    class="page-link"
                    href="?currentPage={{pagingData.currentPage-(-1)}}">
                    {% endif %}
                    next</a>
                </li>
            </ul>
        </div>
        {% endif %}
</div>
</body>
</html>