<!DOCTYPE html>
<html lang="ko">
<head>
  {% include 'head.html' %}
  <link rel="stylesheet" href="/styles/postslist.css">
  <script src="/javascript/community.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    {% include 'top.html' %}
    <h1 style="text-align: center;">커뮤니티 페이지</h1>
    <ul class="sort-btn-list">
        <li><div class="sort-btn newest sort-btn-click">최신 순</div></li>
        <li><div class="sort-btn old">오래된 순</div></li>
        <li><div class="sort-btn highView">높은 조회수</div></li>
        <li><div class="sort-btn rowView">낮은 조회수</div></li>
    </ul>
<table>
    <thead>
    <tr >
        <th>번호</th>
        <th>조회수</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody class="commu-list">
    <!-- {% for twit in twits %}
    <tr>
        <td>게시글번호 : {{twit.id}}</td>
        <td>조회수 : {{twit.view}}</td>
        <td><a href="/page/communityView/{{twit.id}}">게시물 : {{twit.title}}</a></td>
        <td> 작성자닉네임 : {{twit.User.nickname}} </td>
        <td>작성일 : {{twit.createdAt}}</td>
    </tr>
    {% endfor %} -->
    </tbody>
</table><br>
<form action="/page/editor" id="write-form" method="get">
    <input type="hidden" id="board-name" name="board-name" value="{{ boardName }}">
    <button type="submit" class="btn btn-primary">글쓰기 버튼</button>
</form>


<div class='text-center'>
        {% if pagingData.totalPages != 0  %}
        <div class="" style="text-align:center;">
            <ul class="pagination justify-content-center">
                <li {% if pagingData.currentPage == 1 %}
                    class="disabled page-item"
                    {% else %}
                    class="waves-effect page-item"
                    {% endif %}
                >
                    <a {% if pagingData.currentPage > 1 %}
                        class="page-link"
                        href="?currentPage={{pagingData.currentPage-1}}">
                        {% endif %}
                        prev</a>
                </li>
                {% for index in range(1 ,pagingData.totalPages+1)  %}
                <li class="active page-item">
                    {%  if(pagingData["currentPage"]) %}
                    <a class="page-link" href="?currentPage={{index}}">{{index}}</a>
                    {% endif %}
                </li>
                {% endfor %}
                <li {% if(pagingData.currentPage == pagingData.totalPages+1) %}
                    class="disabled page-item"
                    {% else %}
                    class="waves-effect page-item"
                    {% endif %}>
                    <a {% if pagingData.currentPage < pagingData.totalPages %}
                    class="page-link"
                    href="?currentPage={{pagingData.currentPage-(-1)}}">
                    {% endif %}
                    next</a>
                </li>
            </ul>
        </div>
        {% endif %}
</div>
</body>
<script>
    console.log(2222);
const numberSelet = document.getElementById("number-sort");
const highNum = document.querySelector(".highNum");
const rowNum = document.querySelector(".rowNum");
const highView = document.querySelector(".highView");
const rowView = document.querySelector(".rowView");
const newest = document.querySelector(".newest");
const old = document.querySelector(".old");

// 페이지가 로드될 때 데이터를 가져옴
let changeNumberSort = "newest";
console.log(2222);
listSort();

// 주소값에 따른 번호 순 함수
function listSort() {
  console.log(2222);
  axios
    .get(`/boards/{{boardName}}/posts?sortType=${changeNumberSort}`)
    .then((response) => {
      console.log(response.data); // 서버 응답 확인
      const lists = response.data;
      const container = document.querySelector(".commu-list");
      container.innerHTML = ""; // 이전 데이터 삭제
      lists.forEach((list) => {
        const postDiv = document.createElement("tr");
        postDiv.style.cursor = "pointer";
        postDiv.addEventListener("click", () => {
          window.location.href = `/page/communityView/${list.id}`;
        });
        postDiv.innerHTML = `
              <td>게시글번호 : ${list.id}</td>
              <td>조회수 : ${list.view}</td>
              <td>게시물 : ${list.title}</td>
              <td> 작성자닉네임 : ${list.User.nickname} </td>
              <td>작성일 : ${list.createdAt}</td>`;
        container.appendChild(postDiv);
      });
    })
    .catch((error) => {
      console.error(error);
    });
}

// 버튼 눌렀을 때 css변경&axios로 데이터 불러오기

const sortBtns = document.querySelectorAll(".sort-btn");

function handleSortBtnClick(clickedBtn, sortType) {
  if (clickedBtn.classList.contains("sort-btn-click")) {
    clickedBtn.classList.remove("sort-btn-click");
  } else {
    clickedBtn.classList.add("sort-btn-click");
    changeNumberSort = sortType;
    sortBtns.forEach((otherBtn) => {
      if (otherBtn !== clickedBtn) {
        // 다른버튼 !== 클릭한버튼
        otherBtn.classList.remove("sort-btn-click");
      }
    });
  }
  listSort();
}

// 각 버튼의 클릭 이벤트에 handleSortBtnClick 함수를 전달
highView.addEventListener("click", () =>
  handleSortBtnClick(highView, "highView")
);
rowView.addEventListener("click", () => handleSortBtnClick(rowView, "rowView"));
newest.addEventListener("click", () => handleSortBtnClick(newest, "newest"));
old.addEventListener("click", () => handleSortBtnClick(old, "old"));
</script>
</html>