<footer>
  <div class="team">
    <div>
      <p>펫프렌즈</p>
    </div>
    <div class="leader">
      <div>
        <p><i class="fas fa-crown"></i>leader</p>
        <p>배준범</p>
      </div>
      <div class="Team members">
        <p>Team members</p>
        <p>장영호</p>
        <p>권용수</p>
        <p>김무성</p>
      </div>
    </div>
  </div>
  <div>
    <div>
      <ul class="footer-li1">
        <li>연락처: 000-0000-0000</li>
        <li>팩스: 000-0000-0000</li>
        <li>이메일: xxx@xxx.com</li>
      </ul>
    </div>
    <p>주소: 대구광역시 xx구 xxx xxx</p>
    <div>
      <ul class="footer-li2">
        <li>이용약관</li>
        <li>개인정보처리방침</li>
      </ul>
    </div>
  </div>
  <div class="footer-social">
    <i class="fab fa-google"></i>
    <i class="fab fa-js"></i>
  </div>
</footer>
