<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    {% include 'top.html' %}
    <h1 style="position: fixed; top: 50%; left: 50%">메인 페이지</h1>
    <div
      id="sidebar"
      style="width: 100%; height: 500px; background-color: #ffffff"
    ></div>
    <div id="content-box">
      <div id="popular-box">
        <h3><img src="/imgs/petfoot.webp" alt="" />인기 게시물</h3>
        <div id="popular">
          <ol>
            {% for twit in twits %}
            <li>
              <a href="">
                조회수: {{twit.view}}&#8593; 제목 :{{ twit.title }}</a
              >
            </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </body>
</html>
