<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    {% include 'top.html' %}
    <h1 style="position: fixed; top: 50%; left: 50%">메인 페이지</h1>
    <div
      id="sidebar"
      style="width: 100%; height: 500px; background-color: #ffffff"
    ></div>
    <div id="content-box">
      <div id="popular-box">
        <h3><img src="/imgs/petfoot.webp" alt="" />인기 순위</h3>
        <div id="popular">
          <ol>
            {% for twit in twits %}
            <li>
              <a href="">
                조회수: {{twit.view}}&#8593; 제목 :{{ twit.title }}</a
              >
            </li>
            {% endfor %}
          </ol>
        </div>
      </div>
      <div id="selection" style="width: 60%">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat in
        animi similique sunt consectetur nam cumque accusantium ipsa, aliquid
        laboriosam recusandae odit? Aperiam repellat nihil error, eos sapiente
        harum quasi.
      </div>
    </div>
  </body>
</html>
