<div id="menu-box">
  <div id="logo-box">
    <a href="/" id="login-btn">로고</a>
  </div>
  <div id="menu-list">
    <a href="/">홈</a>
    <a href="/page/notice?currentPage=1" class="notice-btn">공지사항 </a>
    <a href="/page/info?currentPage=1" class="info">정보글 </a>
    <a href="/page/community?currentPage=1" class="community">커뮤니티 </a>
    {% if user %}
    <div id="mypage-box">
      <a href="/page/mypage" class="mypage-btn"> 마이페이지 </a>
    </div>
    {% if user.rank == '5' %}
    <div>
      <a href="/page/admin_post" id="admin-btn"> 관리자페이지</a>
    </div>
    {% endif %}
    {% if user.provider == 'kakao' %}
    <div id="kakaoLogout-box">
      <a
        id="kakaoLogout"
        href="https://kauth.kakao.com/oauth/logout?client_id={{ kakao }}&logout_redirect_uri=http://localhost:8001/auth/logout"
        ><img src="/imgs/kakaologout.png" alt="" /> 로그아웃</a
      >
    </div>
    {% else %}
    <div id="nomarl-logout">
      <a id="logout" href="/auth/logout">로그아웃</a>
    </div>
    {% endif %} {% else %}
    <div id="login-box">
      <a href="/page/login" id="login-btn"> 로그인 </a>
    </div>
    {% endif %}
  </div>
</div>
<div style="width: 100%; height:0px; "></div>
{% if user %}
<div class="weather-area">
  <div class="weather-img">
    <img src="/imgs/err.png" alt="" />
  </div>
  <div class="weather-commu">
    <span>기온: </span>
    <input class="temp weather" disabled ></input> °C<br>
    <span>강수확률: </span>
    <input class="pop weather" disabled ></input> %
  </div>
  <div class="weather-word">
    <span></span>
  </div>
</div>
{% endif %}
