    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #F8F9FA;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        background-color: #FFFFFF;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    header {
        text-align: center;
        padding: 20px 0;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    nav ul li {
        flex: 1;
        text-align: center;
        padding: 10px;
        background-color: white;
        color: black;
        border-radius: 5px;
        margin: 0 10px;
    }

    nav ul li a {
        text-decoration: none;
        color: #333;
    }

    section h2 {
        margin-top: 30px;
        margin-bottom:-30px;
        font-size: 35px;
        text-align: center;
        font-weight: bold;
        color: #333;
    }

    section ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    section ul li {
        padding: 10px;
        margin: 5px 0;
        background-color: #ECECEC;
        border-radius: 5px;
        color: #333;
    }

    aside {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        margin-top: 20px;
    }

    footer {
        text-align: center;
        padding: 20px 0;
        background-color: white;
        border-radius: 5px;
        margin-top: 20px;
    }

    .admin_post_del {
        background-color: #333;
        position: absolute;
        color: white;
        padding: 5px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 15px;
        margin-right: 10px;
        font-weight: bold;
        position: absolute;
        bottom: 10px;
        right: 10px;
    } .admin_notice_del {
        background-color: rgb(157, 0,255);
        color: white;
        padding: 5px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 15px;
        margin-right: 10px;
        font-weight: bold;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .memberinfo-btn {
        background-color: rgb(157, 0, 255);
        color: white;
        padding: 5px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 15px;
        margin-right: 10px;
        font-weight: bold;
    }

    li {
        font-weight: bold;
        color: #333;
    }

    .admin_posts{
        display: flex;
        justify-content: flex-end;
    }

    .admin_notice{
        display: flex;
        justify-content: flex-end;
    }

    .admin_members{
        display: flex;
        justify-content: flex-end;
    }

    .search-members{
        height: 25px;
    }

    .postinfo-btn {
        background-color: rgb(157, 0, 255);
        color: white;
        padding: 5px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 15px;
        margin-right: 10px;
        font-weight: bold;
    }
    h3{
        font-size: 20px;
    }
    .notice_editor{
        background-color: rgb(157, 0, 255);
        color: white;
        padding: 5px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 15px;
        margin-right: 10px;
        font-weight: bold;
        position: absolute; /* 자식 요소를 absolute로 설정 */
        bottom: 5px; /* 아래쪽으로 붙이기 */
        right: 0; /* 오른쪽으로 붙이기 */

    }
    aside {
        position: relative;
    }
    .notice_h2{
        margin-top: 30px;
        margin-bottom:0;
        font-size: 35px;
        text-align: center;
        font-weight: bold;
        color: #333;


    }
    .search-members{
        height: 40px;
        width: 300px;
        padding: 5px 10px;
        border-radius: 10px;
        border: 2px solid rgb(185, 185, 185);
    }

    .search_posts{
        width: 300px;
        padding: 5px 10px;
        border-radius: 10px;
        border: 2px solid rgb(185, 185, 185);
    }
#mem-search-btn,
    .post-search-btn{
        padding: 8px 20px;
        border-radius: 10px;
        text-align-last: center;
        background-color: rgb(157, 0, 255);
        color: white;
        border: none;
        font-weight: bold;
    }



    .noticeinfo-btn {
        background-color: rgb(157, 0, 255);
        color: white;
        padding: 5px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 15px;
        margin-right: 10px;
        font-weight: bold;
    }
    div.border {
        border: 1px solid black;
    }

