#popular-box {
  margin-top: 10px;
}

#popular-box h3 {
  font-family: "Dongle", sans-serif;
  font-size: 50px;
  padding-left: 20px;
  margin-bottom: -10px;
}

#popular-box img {
  width: 30px;
  height: auto;
  padding-bottom: 30px;
  padding-right: 10px;
}

#popular {
  display: inline-block;
  border: 5px solid rgb(255, 204, 165);
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 30px;
  font-family: "Dongle", sans-serif;
}

#popular ol {
  list-style-position: inside;
}

#popular a {
  color: rgb(0, 0, 0);
}

#content-box {
  display: flex;
  justify-content: space-evenly;
}

#selection {
  border: 5px solid rgb(0, 0, 0);
  padding: 10px;
  display: inline-block;
  border-radius: 20px;
  font-size: 30px;
  margin-top: 70px;
}
