* {
  text-decoration: none;
}
p {
  font-size: 30px;
}

ul {
  margin: 0;
}

.timeline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myDIV {
  display: none;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  width: 100%;
}

h3 {
  font-size: 18px;
  margin: 0;
  line-height: 1.4;
  text-align: center;
}

h3 span {
  color: #007bff;
  font-weight: bold;
}

.mypage-box {
  margin: 10% auto;
  max-width: 800px;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.mypage-box h2 {
  margin-bottom: 100px;
}

.user-info {
  text-align: left;
  margin-bottom: 20px;
}

.user-info h3 {
  font-size: 24px;
  margin-bottom: 50px;
}

.user-info p {
  font-size: 16px;
  margin: 0;
}
h2 {
  text-align: center;
}

.btn {
  background-color: rgb(179, 132, 255);
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  font-weight: bold;
}
.half {
  text-align: right;
}
.container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.half {
  text-align: right;
  flex-direction: column;
  align-items: end;
  margin-left: 20px;
}

.count {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}
h1 {
  text-align: center;
}

#post-list-div {
  border-radius: 8px;
  padding: 16px;
  margin: 10px auto;
  width: 60%;
  /* border: 1px solid black; */
}

/* 작성한글 css  */
.post-list li {
  margin: 10px;
}

.title-box {
  padding: 10px;
  font-size: 32px;
  font-weight: bold;
}

.info-box {
  border: 2px solid rgb(203, 203, 203);
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  color: rgb(150, 150, 150);
  margin-bottom: 20px;
}

.info-box span:first-child {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  color: black;
}

.content-box {
  border: 2px solid rgb(200, 200, 200);
  border-radius: 12px;
  margin-bottom: 50px;
  padding: 20px;
}

.content-box h1 {
  display: none;
}

.content-box p {
  padding: 10px;
  word-break: break-all;
}



/* 마이페이지 전체 영역 */
.user-profile {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* 사용자 정보 영역 */
.user-info {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
}

.user-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-info p {
  font-size: 16px;
  margin-bottom: 5px;
}

/* 게시글 및 댓글 정보 영역 */
.user-activity {
  margin-top: 20px;
}

.user-activity table {
  width: 100%;
  border-collapse: collapse;
}

.user-activity th, .user-activity td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.user-activity th {
  background-color: #f5f5f5;
  font-weight: bold;
  font-size: 18px;
}

.user-activity td {
  font-size: 16px;
}

img {
  width:100%;
}