* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: bottom;
}

body {
  height: 1500px;
}

#kakaoLogout-box {
  margin-top: 20px;
}

#kakaoLogout {
  background-color: #fee500;
  color: rgba(0, 0, 0, 0.85);
  border-radius: 8px;
  padding: 5px 10px;
  font-weight: bold;
}

#kakaoLogout img {
  width: 25px;
  height: 25px;
}

#logo-box {
  right: 50%;
  top: 3%;
}

#logo-box a {
  color: rgb(0, 0, 0);
}

#menu-box {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  position: fixed;
  background-color: #fff0dd;
}

#menu-list {
  display: flex;
  list-style: none;
}

#menu-list li {
  margin-left: 30px;
}

#menu-list li a {
  color: rgb(49, 49, 49);
}

#myPage {
  padding: 10px;
}

#myPage-btn {
  margin: 0px 10px;
  text-align: center;
  display: block;
  color: black;
}

#login-box {
  width: 108px;
  text-align: center;
}

#login-btn {
  color: rgba(82, 82, 82, 0.85);
}

#nomarl-logout {
  margin-top: 20px;
  text-align: center;
  width: 108px;
}

#logout {
  color: rgba(0, 0, 0, 0.85);
  border-radius: 8px;
  padding: 5px 10px;
  font-weight: bold;
}
