* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  box-sizing: border-box;
}

#menu-box {
  width: 80%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in-out;
  background-color: white;
}

#menu-box.fixed {
  position: fixed;
  width: 100%;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  background-color: white;
  z-index: 10;
}

#kakaoLogout {
  background-color: #fee500;
  border-radius: 12px;
}

#kakaoLogout img {
  width: 23px;
  height: 23px;
  vertical-align: bottom;
}

#login-box {
  margin-right: 100px;
}

#logo-box a {
  color: black;
  margin-left: 100px;
  font-weight: bold;
}

#menu-list {
  display: flex;
  font-size: 14px;
}

#menu-list a {
  padding: 0px 10px;
  text-align: center;
  color: black;
  margin: 0 20px;
  font-weight: bold;
}

.mypage-btn {
  padding: 0px 10px;
  text-align: center;
  display: block;
}

.manager-btn {
  padding: 0px 10px;
  text-align: center;
  display: block;
  color: rgb(255, 217, 0);
}

#login-box {
  text-align: center;
}

#nomarl-logout {
  text-align: center;
}

#logout {
  padding: 5px 10px;
}

.weather-img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-top: 5px;
  margin-left: 50px;
}

.weather-area {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

.weather-area span {
  font-weight: bold;
  font-size: 13px;
}

.weather {
  width: 20px;
  background-color: inherit;
  border: inherit;
  color: black;
}

.weather-word {
  margin-left: 4%;
}

.weather-commu {
  opacity: 0;
}
